.whatever {
  color: red;
}

.baddie {
  appearance: pink;
}

.more {
  -moz-appearance: red;
}

.mass {
  mask: url('blah');
}

.moreError {
  -webkit-appearance: yellow;
}

.anotherError {
  mask: url('faaa');
}

.gross {
	mask: url('...');
	-webkit-appearance: textfield;
}

.mas {
	display: none;
	-webkit-appearance: textfield;
}